/*#region - Add, Register */
.modal-add,
.modal-register {
  max-width: 400px;
  width: 90vw;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--light-color);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 500;
}

#add-container,
#register-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 1rem 3rem 1rem;
}

#add-container p,
#register-container p {
  margin: 1.1rem 0rem 0.3rem;
}

#add-container #save,
#add-container #cancel,
#register-container #save,
#register-container #cancel {
  cursor: pointer;
  display: inline-block;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 2px;
  z-index: 1;
}

#add-container #save:hover,
#add-container #cancel:hover,
#register-container #save:hover,
#register-container #cancel:hover {
  border-color: var(--secondary-color);
  border: 1px solid;
}

input[type="text"] {
  width: 100%;
  padding: 0.4rem;
}
/*#endregion - Add, Register */

/*#region - Modal ( 'Shopping Cart' 'Buy Confirmation' 'Add Courses' 'Register' ) */
.modal-shopping-cart {
  width: 90vw;
  max-width: 600px;
  height: 380px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background: var(--light-color);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  color: var(--secondary-color);
}

.modal-buy {
  font-size: 1rem;
  width: 90vw;
  max-width: 350px;
  height: 380px;
  max-height: 190px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background: var(--light-color);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-buy p {
  margin-top: 2.5rem;
  margin-bottom: 1.2rem;
  width: 80%;
}

.modal-buy .ok-buy-confirmation {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 2px;
  z-index: 1;
}

.modal-buy .ok-buy-confirmation:hover {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.closed-shopping-cart,
.closed-buy,
.close-overlay-buy,
.closed-add,
.close-overlay-add,
.closed-register,
.close-overlay-register {
  display: none;
}

.modal-overlay-shopping-cart,
.modal-overlay-buy,
.modal-overlay-add,
.modal-overlay-register {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-shopping-cart .modal-title {
  font-size: 2rem;
  color: var(--secondary-color);
}

.modal-shopping-cart table {
  border-collapse: collapse;
  background-color: var(--light-color);
  width: 97%;
}

.modal-shopping-cart th {
  text-align: left;
  padding: 5px 5px;
  font-weight: 400;
  font-size: medium;
}

.modal-shopping-cart td {
  color: var(--secondary-color);
  border-bottom: solid 1px #e9e8e2;
  padding-right: 10px;
  padding-left: 10px;
}

.modal-shopping-cart thead {
  color: #fff;
  background-color: var(--secondary-color);
}

.modal-shopping-cart,
.modal-buy,
.modal-add,
.modal-register {
  overflow: hidden;
}

.modal-shopping-cart #close-button,
.modal-buy #close-button-buy,
.modal-add #close-button-add,
.modal-register #close-button-register {
  opacity: 1;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 20px;
  border: none;
  outline: none;
  background-color: var(--light-color);
  padding: 0px 0px;
  font-size: 1.8rem;
}

.modal-shopping-cart #close-button:hover,
.modal-shopping-cart #close-button:focus,
.modal-buy #close-button-buy:hover,
.modal-buy #close-button-buy:focus,
.modal-add #close-button-add:hover,
.modal-add #close-button-add:focus,
.modal-register #close-button-register:hover,
.modal-register #close-button-register:hover {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.modal-shopping-cart .to-payment {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 0.1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 2px;
  z-index: 1;
}

.modal-shopping-cart .to-payment:hover {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.modal-shopping-cart .delete {
  color: var(--primary-color);
  cursor: pointer;
  opacity: 1;
}

.modal-shopping-cart .delete:hover,
.modal-shopping-cart .delete:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

/*#endregion - Modal ( 'Shopping Cart' 'Buy Confirmation' 'Add Courses' 'Register ) */

/*#region - shopping cart bar */

#shopping-cart-bar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: fixed;
  top: 4.4rem;
  padding: 0 2rem;
  width: 100%;
  height: 2.4rem;
  opacity: 0.95;
  /* cursor: pointer; */
}

#open-button,
#add-button {
  color: var(--light-color);
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
}

#open-button:hover,
#add-button:hover {
  opacity: 0.7;
}

/*#endregion - shopping cart bar */

/*#region - courses table */
.table-courses-container table {
  margin-top: 6.8rem;
  border-collapse: collapse;
  background-color: var(--light-color);
  width: 100%;
  min-width: 678px;
  white-space: nowrap;
}

.table-courses-container th {
  text-align: left;
  padding: 10px 5px;
}

.table-courses-container td {
  font-size: 0.9rem;
  color: var(--secondary-color);
  padding: 5px;
  border-bottom: solid 1px #e9e8e2;
}

.table-courses-container thead {
  color: #fff;
  background-color: var(--secondary-color);
}

.table-courses-container i:hover,
.table-courses-container i:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.table-courses-container {
  overflow: hidden;
}

.cart-btn-table {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.cart-btn-table:hover {
  opacity: 0.7;
}

/*#endregion - courses table */

/*#region - media queries */
@media (max-width: 580px) {
  .table-courses-container {
    margin-top: 37px;
  }

  .modal-buy p {
    font-size: 0.9rem;
  }

  .modal-buy .ok-buy-confirmation {
    font-size: smaller;
    margin-bottom: 1rem;
  }

  .modal-shopping-cart #close-button {
    font-size: 1.4rem;
  }

  .modal-shopping-cart .modal-title {
    font-size: 1.3rem;
  }

  .modal-shopping-cart th {
    font-size: small;
  }

  .modal-shopping-cart td {
    padding-right: 7px;
    padding-left: 4px;
    font-size: smaller;
  }

  #shopping-cart-bar {
    top: 6.7rem;
  }

  #add-container form {
    gap: 7px;
    top: 400px;
  }

  #add-container p {
    font-size: 1rem;
    margin: 0rem;
  }

  #add-container {
    margin: 0rem 0rem 0.5rem;
  }

  #add-container #save,
  #add-container #cancel {
    padding: 0.7rem;
  }

  #add-container #save:hover,
  #add-container #cancel:hover {
    border-color: var(--secondary-color);
    border: 1px solid;
  }

  #add-container input {
    width: 80%;
  }

  #shopping-cart-bar {
    font-size: 0.7rem;
  }
}

@media (max-width: 759px) {
  .table-courses-container {
    overflow: auto;
  }

  .table-courses-container th {
    font-size: smaller;
  }

  .table-courses-container td {
    font-size: 0.7rem;
    padding: 0px;
    margin: 0px;
    padding-right: 0.3rem;
  }

  .modal-add {
    font-size: 1.8rem;
  }

  #add-container form {
    gap: 7px;
  }

  #add-container p {
    margin: 0.8rem 0rem 0rem;
  }

  #add-container {
    /* margin: 0rem 0rem 0.5rem; */
  }

  #add-container #save,
  #add-container #cancel {
    padding: 0.7rem;
  }

  #add-container #save:hover,
  #add-container #cancel:hover {
    border-color: var(--secondary-color);
    border: 1px solid;
  }

  #add-container input {
    width: 80%;
  }
}

/*#endregion - media queries */
